<div  class="container" 
        fxLayout="column" 
        fxLayout.gt-xs="row"
        fxLayoutGap="10px">

    <mat-card *ngIf="dish" fxFlex>
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>
                <h3>{{dish.name | uppercase}}</h3>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
        <mat-card-content>
            <p>{{dish.description}}
            </p>
        </mat-card-content>
    </mat-card>
    <div fxFlex [hidden]="dish || dishErrMsg">
        <mat-spinner></mat-spinner>
        <h5><p>Loading ...</p><p>Please Wait</p></h5>
    </div>
    <div *ngIf="dishErrMsg">
        <h2>ERROR</h2>
        <h5>{{dishErrMsg}}</h5>
    </div>

    <mat-card *ngIf="promotion" fxFlex>
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>
                <h3>{{promotion.name | uppercase}}</h3>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{BaseURL + promotion.image}}" alt={{promotion.name}}>
        <mat-card-content>
            <p>{{promotion.description}}
            </p>
        </mat-card-content>
    </mat-card>
    <div fxFlex [hidden]="promotion || promotionErrMsg">
        <mat-spinner></mat-spinner>
        <h5><p>Loading ...</p><p>Please Wait</p></h5>
    </div>
    <div *ngIf="promotionErrMsg">
        <h2>ERROR</h2>
        <h5>{{promotionErrMsg}}</h5>
    </div>

    <mat-card *ngIf="leader" fxFlex>
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>
                <h3>{{leader.name | uppercase}}</h3>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{BaseURL + leader.image}}" alt={{leader.name}}>
        <mat-card-content>
            <p>{{leader.description}}
            </p>
        </mat-card-content>
    </mat-card>
    <div fxFlex [hidden]="leader || leaderErrMsg">
        <mat-spinner></mat-spinner>
        <h5><p>Loading ...</p><p>Please Wait</p></h5>
    </div>
    <div *ngIf="leaderErrMsg">
        <h2>ERROR</h2>
        <h5>{{leaderErrMsg}}</h5>
    </div>

</div>